<!-- MAIN -->
<section class="l-main general">
    <!-- PAGE-HEADER -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <h2 align="center">Login</h2>
            </div>
        </div>
    </div>
    <section class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form class="form-signin" ng-submit="loginFormSubmit()">
                        <label for="inputUsername" class="sr-only">Username</label>
                        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus data-ng-model="user.username">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required data-ng-model="user.password">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form><br/>
                    <p align="center"><a data-ui-sref="reset">Forgot Your Password?</a></p>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>

</section>