<footer class="l-footer">

    <div class="container">

        <!-- FOOTER-TOP -->
        <div class="footer-top">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="footer-branding">Especies</a>
                </div>
            </div>
        </div>

        <!-- FOOTER-MIDDLE -->
        <div class="footer-middle">
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <a href="#" class="branding pull-left" title="Ficha De Especies"></a>
                    </div>
                </div>

                <div class="col-md-6 text-right">

                    <div username-box logged="logged" name="username" placement="top"></div>

                </div>
            </div>
        </div>

        <!-- SEARCH BOX -->
        <div search-box ></div>
        <div login-box ></div>

        <!-- FOOTER-BOTTOM -->
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline">
                        <li><a href="#">Privacy Statement</a></li>
                        <li><a href="#">Privacy Disclaimer</a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-right">
                    <p class="copy">&copy; ESPECIES</p>
                </div>
            </div>
        </div>
    </div>

    <!--<div id="footer-brasil"></div>-->
</footer>
