<header class="l-header">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="clearfix">
                    <a href="#" class="branding pull-left" title="Taxonomic DB">
                      ESPECIES - Administrative Taxonomic Database
                    </a>
                </div>
            </div>
            <div class="col-md-6 text-right">

                <ul class="list-inline user-meta">
                    <li><a href=""><i class="fa fa-user"></i> Login </a></li>
                    <li>

							<span class="dropdown-wrap language-dropdown">
								<select name="language" id="language">
                                    <option value="en">English</option>
                                    <option value="span">Spanish</option>
                                </select>
							</span>

                    </li>
                </ul>

            </div>
        </div>
    </div>
</header>
