<div id="exceptions">

    <!-- Resolve Exceptions -->
    <section class="collapseible management-widget">
        <header>
            <div class="clearfix">
                <div class="pull-left management-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" size="100" placeholder="Search" class="form-control"/>
                        </div>
                        <div class="col-lg-6">
                            <a href="#" class="btn btn-primary edit-form">Search</a>
                        </div>
                    </div>
                </div>
                <div class="pull-right collapsible-options">
                    <span class="dropdown export-drop">
                        <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true"><i class="fa fa-download"></i> Export</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <li>
                                <button class="btn btn-primary small"><i class="fa fa-download"></i>Export</button>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </header>

        <section class="widget-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date & Time</th>
                        <th>Stats</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>JBRJ8569</td>
                        <td>Pteronura brasiliensis</td>
                        <td>24/02/2015 06:00</td>
                        <td>Delegate</td>
                        <td>Details</td>
                    </tr>
                    <tr>
                        <td>JBRJ8590</td>
                        <td>Nasua nasua solitaria</td>
                        <td>24/02/2015 06:00</td>
                        <td>Resolved</td>
                        <td>Details</td>
                    </tr>
                    <tr>
                        <td>JBRJ8534</td>
                        <td>Tapirus terrestris</td>
                        <td>24/02/2015 06:00</td>
                        <td>Unresolved</td>
                        <td>Details</td>
                    </tr>
                    <tr>
                        <td>JBRJ8569</td>
                        <td>Pteronura brasiliensis</td>
                        <td>24/02/2015 06:00</td>
                        <td>Delegate</td>
                        <td>Details</td>
                    </tr>
                </tbody>
            </table>

        </section>
    </section>
</div>
