<div id="exceptions">

    <!-- Resolve Exceptions -->
    <section class="collapseible management-widget">
        <header>
            <div class="clearfix">
                <div class="pull-left management-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" size="100" placeholder="Search" class="form-control" ng-model="queryException" autofocus autocomplete="off"/>
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary" ng-click="searchException()">Search<i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="pull-right collapsible-options">
                    <span class="dropdown export-drop">
                        <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true"><i class="fa fa-download"></i> Export</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <li>
                                <button class="btn btn-primary small"><i class="fa fa-download"></i>Export</button>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </header>

        <section class="widget-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date & Time</th>
                        <th>Stats</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody ng-repeat="e in exceptionOccurrence.content">
                    <tr class="active">
                        <td>{{e.id}}</td>
                        <td>{{e.title}}</td>
                        <td>{{e.updatedAt}}</td>
                        <td>{{e.status}}</td>
                        <td>
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;
                            <a href="#/home" data-id="{{e.id}}" onclick="id=$(this).attr('data-id');$('#tr'+id).toggle();">Details</a>
                        </td>
                    </tr>
                    <tr id="tr{{e.id}}" style="display:none;">
                        <td colspan="5">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>Species Name</p>
                                    <table class="table">
                                        <tbody>
                                        <tr class="active">
                                            <td width="200px">Active</td>
                                            <td>{{e.active.scientificName}}</td>
                                        </tr>
                                        <tr bgcolor="gray" style="color: white;">
                                            <td width="200px">Suggested</td>
                                            <td>{{e.suggested.scientificName}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12">
                                    <div class="pull-right">
                                        <a href="#">Delegate</a>
                                        <input class="btn-default btn-sm" type="button" value="Reject" style="width: 100px;">
                                        <input class="btn-primary btn-sm" type="button" value="Save" style="width: 100px;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="center">
                <ul align="center" class="search-page-list" ng-show="page.totalElements > 0" >
                    <li ng-class="{disabled: page.number === 0}">
                        <a ng-show="page.number !== 0" ng-click="load(page.size,sort)">&laquo;</a>
                        <span ng-show="page.number === 0">&laquo;</span>
                    </li>
                    <li ng-class="{disabled: page.number === 0}">
                        <a ng-show="page.number !== 0" ng-click="load(page.number - 1,page.size)">Prev</a>
                        <span ng-show="page.number === 0">Prev</span>
                    </li>
                    <li ng-repeat="n in [] | pages: page.number:page.totalPages:page.size" ng-class="{active: n === page.number}">
                        <a ng-show="page.number !== n" ng-click="load(n,page.size)">{{n + 1}}</a>
                        <span ng-show="page.number === n">{{n + 1}}</span>
                    </li>
                    <li ng-class="{disabled: page.number === page.totalPages - 1}">
                        <a ng-show="page.number !== page.totalPages - 1" ng-click="load(page.number + 1,page.size)">Next</a>
                        <span ng-show="page.number === page.totalPages - 1">Next</span>
                    </li>
                    <li ng-class="{disabled: page.number === page.totalPages - 1}">
                        <a ng-show="page.number !== page.totalPages - 1" ng-click="load(page.totalPages - 1,page.size)">&raquo;</a>
                        <span ng-show="page.number === page.totalPages - 1">&raquo;</span>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</div>
