<div id="management">

    <!-- User Management -->
    <section class="collapseible management-widget">
        <header>
            <div class="clearfix">
                <div class="pull-left management-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" size="100" placeholder="Search for user" class="form-control" ng-model="queryUser" autofocus autocomplete="off"/>
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary" ng-click="searchUser()"><i class="fa fa-search"></i></button>
                            <button type="button" class="btn btn-primary" ng-click="createUser()" ><i class="glyphicon glyphicon-plus-sign"></i>Add User</button>
                        </div>
                    </div>
                </div>
                <div class="pull-right collapsible-options">
                    <span class="dropdown export-drop">
                        <a href="#/home" class="dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true"><i class="fa fa-download"></i> Export</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <li>
                                <button class="btn btn-primary small"><i class="fa fa-download"></i>Export</button>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </header>

        <section class="widget-body">
            <!-- Table Database Update Process -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Group action</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in user.content">
                        <td>
                            <!-- Single button -->
                            <div class="btn-group">
                                <button type="button" class="btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="showUser(u.id)">Edit</a></li>
                                    <li><a ng-click="deleteUser(u.id)" ng-confirm-click="Are you sure?">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{u.firstName}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.userRole.name}}</td>
                        <td>{{u.enabled}}</td>
                    </tr>
                </tbody>
            </table>

            <div align="center">
                <ul align="center" class="search-page-list" ng-show="pageUser.totalElements > 0" >
                    <li class="page-link-text" ng-class="{disabled: pageUser.number === 0}">
                        <a ng-show="pageUser.number !== 0" ng-click="userLoadPage(0,pageUser.size)"> < First</a>
                        <span class="page-not-active" ng-show="pageUser.number === 0"> < First</span>
                    </li>
                    <li class="page-link-text" ng-class="{disabled: pageUser.number === 0}">
                        <a ng-show="pageUser.number !== 0" ng-click="userLoadPage(pageUser.number - 1,pageUser.size)"> << Previous</a>
                        <span class="page-not-active" ng-show="pageUser.number === 0"> << Previous</span>
                    </li>
                    <li >Page <span class="page-badge">{{pageUser.number + 1}}</span> of {{pageUser.totalPages}}</li>
                    <li class="page-link-text" ng-class="{disabled: pageUser.number === pageUser.totalPages - 1}">
                        <a ng-show="page.number !== pageUser.totalPages - 1" ng-click="userLoadPage(pageUser.number + 1,pageUser.size)">Next >></a>
                        <span class="page-not-active" ng-show="pageUser.number === pageUser.totalPages - 1">Next >></span>
                    </li>
                    <li class="page-link-text" ng-class="{disabled: pageUser.number === pageUser.totalPages - 1}">
                        <a ng-show="pageUser.number !== pageUser.totalPages - 1" ng-click="userLoadPage(pageUser.totalPages - 1,pageUser.size)">Last ></a>
                        <span class="page-not-active" ng-show="pageUser.number === pageUser.totalPages - 1">Last></span>
                    </li>
                </ul>
            </div>

            <div>
                <div include-layout="/app/auth/views/signup.tpl.html"></div>
            </div>

        </section>
    </section>
</div>
